
.navbar .navbar-header{
	margin-left:40px;
	}/*for the logo */
.navbar .menubar{
	padding-right: 30px;
}/*right menu alignment*/

.navbar-nav .btn-group
{
	margin-top: 15px;
}/*dropdown menu alignment*/

.dropdown-menu{
	background: transparent;
}/*dropdown color change*/
