body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../images/img5.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-1 {
    /* The image used */
    background-image: url("../images/img4.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    /* The image used */
    background-image: url("../images/img1.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {

}
ul.nav-pills {
    top: 20px;
    position: fixed;
}
#accordion11 {color: #black; background-color: pink;}

@media screen and (max-width: 810px) {
  #accordion11, {
      margin-left: 150px;
  }
}
